<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.imojiapp.imoji.sdksample"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".ExternalGrantReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.imojiapp.imoji.oauth.external.GRANT"/>

                <category android:name="com.imojiapp.imoji.category.EXTERNAL_CATEGORY"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".SearchImojiActivity"
            android:label="@string/title_activity_search_imoji"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imojiapp.imoji.sdksample.MainActivity"/>
            <meta-data android:name="imoji-sample-name"
                       android:value="Search Imojis"></meta-data>
        </activity>
        <activity
            android:name=".TrendingImojiActivity"
            android:label="@string/title_activity_trending_imoji"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imojiapp.imoji.sdksample.MainActivity"/>
            <meta-data android:name="imoji-sample-name"
                       android:value="Trending Imojis"></meta-data>
        </activity>
        <activity
            android:name=".ImojiCategoryActivity"
            android:label="@string/title_activity_imoji_category"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imojiapp.imoji.sdksample.MainActivity"/>
            <meta-data android:name="imoji-sample-name"
                       android:value="Imoji Categories"></meta-data>
        </activity>

        <activity
            android:name=".UserImojisActivity"
            android:label="@string/title_activity_user_imojis"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.imojiapp.imoji.sdksample.MainActivity"/>
            <meta-data android:name="imoji-sample-name"
                       android:value="Get User Imojis"></meta-data>
        </activity>
    </application>

</manifest>
